<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Register</h1>
    <% if (err) { %>
        <p style="display: inline-block; background-color: #d4edda; color: #155724; padding: 10px; margin-bottom: 10px; border-radius: 5px;"><%= err %></p>
    <% } %>
    <br>
    <form action="/register" method="post">
        <label>Username:</label><br>
        <input type="text" name="username" placeholder="username"><br>
        <label>Email:</label><br>
        <input type="text" name="email" placeholder="email"><br>
        <label>Password:</label><br>
        <input type="password" name="password" placeholder="password"><br>
        <label>Role:</label><br>
        <input type="text" name="role" placeholder="role"><br>
        <label>Photo URL:</label><br>
        <input type="text" name="photoUrl" placeholder="photoUrl"><br>
        <label>Address:</label><br>
        <input type="text" name="address" placeholder="address"><br>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>